/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

ol, ul {
    list-style: none;
}

a img {
    border: 0;
}

a:link,
a:hover{
    text-decoration: none;
    outline: none;
}
/*RESET CSS END*/

/* General Styles*/

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
/*    font-family: 'Lato', sans-serif;*/
}

section {
    padding: 70px 0 100px;
}

/*
.wrapper {
    max-width: 1620px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
        white-space: nowrap;
    padding-left: 225px;
    padding-right: 225px;
}
*/

.container {
    width: 100%;
}

.wrapper {
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 40px;
}

.heading {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.block {
    display: block;
    
}
.inline {
    display: inline;
}

.clearfix {
    clear: both;
}

.font-light {
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
}


/*COLORS*/

.p-bg {
    background: #7251c2;
}
.p-font {
    color: #7251c2;
}

.p-font-light1 {
    color: #7f65c7;
    
}

.p-font-light2 {
    color: #876bcb;
    
}

.gold {
    background-color: #c19b00;
}

.gold-text {
    color: #c19b00;
}

.blue {
    background: #eef3fa;
}

.grey {
    color: #4e4e4d;
}

.white {
    color: #fff;
}


/*Helper Classes*/

.t-padding-30 {
    padding-top: 30px;
}
.t-padding-40 {
    padding-top: 40px;
}
.t-padding-50 {
    padding-top: 50px;
}

.t-padding-100 {
    padding-top: 100px;
}

.b-padding-15 {
    padding-bottom: 15px;
}

.b-padding-20 {
    padding-bottom: 20px;
}

.b-padding-30 {
    padding-bottom: 30px;
}
.b-padding-50 {
    padding-bottom: 50px;
}
.b-padding-100 {
    padding-bottom: 100px;
}
.b-margin-20 {
    margin-bottom: 20px;
}
.b-margin-40 {
    margin-bottom: 40px;
}


.big-text {
    font-size: 60px;
}

/*Buttons*/

.btn-default {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50px;
    padding: 15px 20px;
    margin: 20px 12px 0;
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: .8s;

}

@media and (min-width:480px){
    .btn-default{
        padding: 20px 40px;
        margin: 50px 12px 0;
    }
}

.btn-ghost {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 50px 12px 0;
    background: transparent;
    border: 2px solid #7251c2;
    color: #7251c2;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: .8s;

}

.btn-default.gold {
    background: #c19b00;
    border-color: #c19b00;
}

.btn-default:hover,
.btn-ghost:hover{
    background: #c19b00;
    border-color: #c19b00;
    color: #fff;
}
/*----------------------------------------------------------------------------

                                NAVIGATION

------------------------------------------------------------------------------*/
.navbar {
    min-height: 100px;
}
.navbar-default,
.navbar-default .navbar-collapse {
    border: none;  
    margin: 0;
}

/*
.navbar-brand {
    padding: 0px; 
}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}
*/

.navbar-toggle .icon-bar {
    width: 17px;
    height: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
} 

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
} 

.navbar-default .navbar-toggle {
    border-color: transparent; 

}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #8e74ce;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #e2dbf2;
    transition: 1s;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
    color: #c19b00;
}

@media (min-width: 320px) {
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
    margin-top: 30px;
}
/*
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
*/
/*
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
*/
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    float: none!important;
/*    margin-top: 7.5px;*/
}
.navbar-nav>li {
/*    float: none;*/
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in{
    display:block !important;
    margin-top: 20px;
    text-align: center ;
}
}

hr {
    margin: 0;
    border-top: 1px solid #8063c8;
    width: 95%;
    margin: auto;
    
}

/*----------------------------------------------------------------------------

                                    HEADER

------------------------------------------------------------------------------*/

header {
    
}
.header {
    margin-top: 75px;
}
h1 {
    font-size: 30px;
    line-height: 1.4;
}

h4 {
    letter-spacing: 5px; 
    line-height: 2;
    margin-bottom: 20px;
}

@media and (min-width:480px){
    h1 {
        font-size: 50px;
    }
    h4 {
        letter-spacing: 15px;  
    }
}

.icon_download {
    font-size: 23px;
    padding-right: 15px;
    vertical-align: middle;
}

.btn-md {
    padding: 15px 25px;
}

/*----------------------------------------------------------------------------

                                ABOUT

------------------------------------------------------------------------------*/
#about {
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
    overflow: visible;
}
.about-row {
    margin-top: -15px;
}

.about-img {
    position: relative;
}
.iphone {
    position: absolute;
    margin-top: 40px;
    left: 160px;
}

.about-content h3 {
    line-height: 1.6;
}
.about-content {
    font-size: 12px;
}

#about .btn-default,
#about .btn-ghost {
    margin-top: 30px;
    padding: 15px 24px;
    
}

.ratings {
    width: 65%;
    margin: auto;
    background-color: #fff;
    box-shadow: 5px 6px 12px #f0f6ff;
    position: absolute;
    margin-top: -120px;
    left: 20%;
    
}

.ratings .col-md-4 {
    margin: 20px 0 ;
}
.ratings i {
    font-size: 25px;
}

.ratings p {
    font-size: 16px;
    font-weight: 300;
}

.border {
    border-right: 1px solid #e3dcf3;
    
    
}
/*----------------------------------------------------------------------------

                                FEATURES

------------------------------------------------------------------------------*/
#features {
    padding-bottom: 60px;
}

.features i {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: #7251c2;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 22px;
    margin-bottom: 70px;
}

.features h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.features p {
    line-height: 1.8;
    font-size: 12px;
}

.phone {
    width: 240px;
    height: 506px;
    margin: auto;
}

.lower {
    margin-top: 25px;
}


/*----------------------------------------------------------------------------

                                    SERVICES

------------------------------------------------------------------------------*/
.services i {
    width: 50px;
    border: 1px solid #c9c2e9;;
    padding: 20px 22px;
    font-size: 36px;
    color: #0891f9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.services h3 {
    padding-top: 20px;
}
.services .icon_cloud-download_alt {
    color: #c19b00;
    border: 1px solid #fff;
}

.services .blue,
.services .p-bg{
    padding: 60px 15px 30px;
}

/*----------------------------------------------------------------------------

                            TESTIMONIALS

------------------------------------------------------------------------------*/

/*    Carousel   */

#fade-quote-carousel.carousel .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;

}
#fade-quote-carousel.carousel .carousel-inner .active {
    opacity: 1;
    -webkit-transition-property: opacity;
    -ms-transition-property: opacity;
    transition-property: opacity;
    transition: 2s;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    font-size: 14px;
}
#fade-quote-carousel h3 {
    margin-top: 15px;
    font-size: 18px;
}
#fade-quote-carousel p {
    line-height: 1.6;
    font-size: 13px;
    font-weight: 300;
}
#fade-quote-carousel .profile-circle {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
}

#fade-quote-carousel {
    position: relative;
    margin: 0 50px;
}

@media only screen and (min-width: 768px) {
    #fade-quote-carousel {
        margin: 0 160px;
    }  

}
.carousel-control.left,
.carousel-control.right {
    background: transparent;
}
.arrow_carrot-left_alt2,
.arrow_carrot-right_alt2 {
    position: absolute;
    top: 50%;
    color: #a1a1a1;
    font-size: 28px;  
}

/*----------------------------------------------------------------------------

                                SCREENSHOTS CAROUSEL

------------------------------------------------------------------------------*/
/*
.owl-prev,
.owl-next{
    display: none;
}
*/
#app-scr-carousel {
    position: relative;
    margin: 0 40px;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 0;
    height: 30px;
    margin: auto !important;
    
}

.owl-next i,
.owl-prev i{
/*    top: 30px;*/
    color: #fff;

}

.owl-carousel .owl-prev {
    left: -63px;
    top: 50px;
}

.owl-carousel .owl-next {
    right: -30px;
    top: 50px;
}


.owl-item.active.center{
    transform: scaleY(1.6)!important;
    vertical-align: bottom;
}

.owl-item.active.center>div>img {
    height: 100%;
}

.carousel-control {
    opacity: 1;
}


/*
@media only screen and (min-width: 768px) {
    #app-scr-carousel {
        margin: 0 160px;
    }  

}
*/
/*----------------------------------------------------------------------------

                                    VIDEO

------------------------------------------------------------------------------*/
#video {
    background-color: #876bcb;
}

#video h2 {
    font-weight: 200;
    margin-bottom: 0;
}
video {
    position: relative;
}
.video i {
    position: absolute;
    top: 30px;
    left: 45%;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;;
    padding: 7px 11px;
    font-size: 50px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 45px;
    z-index: 10;
}

.video i:hover {
    cursor: pointer;
}

.video {
    position: relative;
    padding-bottom: 20px;
}

#video li {
    padding-right: 10px;
}
.video-social {
    color: #fff;
    width: 45px;
    border: 1px solid #fff;
    padding: 10px 10px;
    font-size: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .7s;
}

.video-social:hover {
    background: #c19b00; 
    border: 1px solid #c19b00;
}
/*----------------------------------------------------------------------------

                                PRICING

------------------------------------------------------------------------------*/
#pricing button {
    margin: 50px 0 ;  
}

/*
#btn-price,
#btn-price3{
    border: 2px solid #7251c2;
    color: #7251c2;    
    
}
*/

#pricing button:hover {
    border-color: #c19b00;
    color: #fff;
}

#pricing {
    line-height: 2.7;
    
}

#pricing p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
header {
    background-color: #7251c2;
}

/*----------------------------------------------------------------------------

                                    DOWNLOAD

------------------------------------------------------------------------------*/

.fa {
    font-size: 30px;
    padding-right: 15px;
    vertical-align: middle;
}


/*----------------------------------------------------------------------------

                                    FAQ

------------------------------------------------------------------------------*/
#faq h3 {
    margin: 0 0 25px;
    font-size: 20px;

}

.faq-content {
    padding: 0 20px 40px;
/*    padding-bottom: 40px;*/
}
/*----------------------------------------------------------------------------

                                    CONTACT

------------------------------------------------------------------------------*/
#contact {
    
    padding: 40px 0 128px;
}

.contact-info{
    background-color: #fff;
    width: 68%;
    padding-top: 10px;
    padding-bottom: 0;
}



form {
/*    width: 100%;*/
    font-family: 'Montserrat', sans-serif;
    }

.form-control {
/*    width: 100%;*/
    border-radius: 0;
    font-size: 11px;
    color: #4e4e4d;
    font-weight: 300;
    margin: 0 6px;
}

#form {
    padding-right: 0;
}

#name,
#subject {
/*    width: 50%;*/
}

@media and (max-width: 767px) {
    #name,
    #subject {
        width: 68%;
    }
}
.form-control.textarea {
    margin-top: 15px;
/*    display: block;*/
    width: 380px;
/*    width: 81%;*/
}

input[type=text]:focus, .form-control.textarea:focus {
    outline: none;
    border: 1px solid #7251c2;
}
.contact-info i{
    float: left;
    margin: 0 15px 20px ; 
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border: 1px solid #c19b00;
    padding-right: 10px;
    padding-left: 7px;
    padding-top: 8px;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.contact-info p{
    font-size: 9px;
    line-height: 1.6;
}

/*----------------------------------------------------------------------------

                                    FOOTER

------------------------------------------------------------------------------*/

footer {
    height: 152px;
    padding: 40px 10px;
    
}

.social {
    list-style: none;
    padding-bottom: 18px;
    
}

.social li {
    display: inline;
    padding-right: 25px;
    margin-bottom: 20px;
    color: #7f65c7;
    
}

.social li:last-of-type {
    padding-right: 0;
}

#footer i {
    width: 50px;
    border: 1px solid #7f65c7;
    padding: 12px 13px;
    font-size: 18px;
    color: #7f65c7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    transition: .7s;
}

#footer i:hover {
    background: #c19b00;
    border: 1px solid #c19b00;
}

footer li {
    margin-bottom: 20px;
}

.copyright {
    padding: 0;
}


/*----------------------------------------------------------------------------

                                ANIMATIONS

------------------------------------------------------------------------------*/
.wp-up-1,
.wp-left-1,
.wp-up-2,
.wp-right-1,
.wp-up-3,
.wp-up-4,
.wp-up-5{
    opacity: 0; 
}

.wp-up-1 .animated,
.wp-left-1 .animated,
.wp-up-2 .animated,
.wp-right-1 .animated,
.wp-up-3 .animated,
.wp-up-4 .animated,
.wp-up-5 .animated{
    opacity: 1; 
}

.fadeInUp,
.fadeInLeft,
.fadeInRight,
.pulse{
    animation-duration: 2s;
}
.pulse {
    animation-iteration-count: 5;
}






















