/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

ul {
    list-style: none;
}

a img {
    border: 0;
}

a:link,
a:hover{
    text-decoration: none;
    outline: none;
}

/* General Styles*/

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

section {
    padding: 50px 0 70px;
}

@media (min-width:480px) {
    section {
        padding: 70px 0 100px;
    }  
}

.container {
    width: 100%;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width: 480px) {
    .wrapper {
        padding: 10px ;
/*        margin: 0 auto;*/
    }
   
}

.img-responsive {
    margin: auto;
}
.heading {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.block {
    display: block;
    
}
.inline {
    display: inline;
}

.clearfix {
    clear: both;
}

.font-light {
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
}


/*COLORS*/

.p-bg {
    background: #7251c2;
}
.p-font {
    color: #7251c2;
}

.p-font-light1 {
    color: #7f65c7;
    
}

.p-font-light2 {
    color: #876bcb;
    
}

.gold {
    background-color: #c19b00;
}

.gold-text {
    color: #c19b00;
}

.blue {
    background: #eef3fa;
}

.grey {
    color: #4e4e4d;
}

.white {
    color: #fff;
}


/*Helper Classes*/

.t-padding-30 {
    padding-top: 30px;
}
.t-padding-40 {
    padding-top: 40px;
}
.t-padding-50 {
    padding-top: 50px;
}

.t-padding-100 {
    padding-top: 100px;
}

.b-padding-15 {
    padding-bottom: 15px;
}

.b-padding-20 {
    padding-bottom: 20px;
}

.b-padding-30 {
    padding-bottom: 30px;
}
.b-padding-50 {
    padding-bottom: 50px;
}
.b-padding-100 {
    padding-bottom: 100px;
}
.b-margin-20 {
    margin-bottom: 20px;
}
.b-margin-40 {
    margin-bottom: 40px;
}


.big-text {
    font-size: 60px;
}

/*Buttons*/

.btn:focus,
.btn:active {
    outline: none !important;
}

.btn-default,
.btn-default:focus {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50px;
    padding: 21px 40px;
    margin: 20px 12px 0;
    background: transparent;
    border-color: #fff;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: .8s;
    transition: .8s;

}

@media and (min-width:480px){
    .btn-default{
        padding: 20px 40px;
        margin: 50px 12px 0;
    }
}

.btn-ghost {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50px;
    padding: 20px 40px;
    margin: 50px 12px 0;
    background: transparent;
    border: 2px solid #7251c2;
    color: #7251c2;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: .8s;

}

.btn-default.gold {
    background: #c19b00;
    border-color: #c19b00;
}

.btn-default:hover,
.btn-ghost:hover{
    background: #c19b00;
    border-color: #c19b00;
    color: #fff;
}
/*----------------------------------------------------------------------------

                                NAVIGATION

------------------------------------------------------------------------------*/

.navbar-default,
.navbar-default .navbar-collapse {
    border: none;  
    margin: 0;
}

.navbar-toggle .icon-bar {
    width: 17px;
    height: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
} 

.navbar-default .navbar-toggle:focus .icon-bar, 
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #fff;
} 

.navbar-default .navbar-toggle {
    border-color: transparent;
    margin-right: 11px;

}
.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus, 
.navbar-default .navbar-toggle:hover {
    background-color: #8e74ce;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.navbar-default .navbar-nav>li>a:focus{
    color: #e2dbf2;
    transition: 1s;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active{
    color: #c19b00;
}

@media (min-width: 320px) {
.navbar-header {
    float: none;
}
.navbar-left,.navbar-right {
    float: none !important;
}
.navbar-toggle {
    display: block;
    margin-top: 30px;
}

.navbar-collapse.collapse {
    display: none!important;
}
    
.navbar-nav {
    float: none!important;
}
    

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-collapse.in {
    overflow: hidden;
}
.collapse.in{
    display:block !important;
    text-align: center ;
    padding: 0 !important;
    }
}

.navbar-brand {
    padding: 15px;
    height: auto;
}
@media (max-width:480px) {
    .navbar-brand>img {
        width: 45px;
    }
    .navbar-toggle {
        margin-top: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        font-weight: bold;
    }
}

hr {
    margin: 0;
    border-top: 1px solid #8063c8;
    width: 95%;
    margin: auto;
    
}

@media (max-width:767px) {
    .navbar-nav>li {
        text-align: center;
    }
   
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
/*----------------------------------------------------------------------------

                                    HEADER

------------------------------------------------------------------------------*/
.container-fluid {
    padding: 0;
}
header {
    padding-bottom: 50px;
}

.header {
    margin: 25px 0 0;
}

@media (min-width: 768px) {
    
    header {
        padding-bottom: 100px;
    }
    .header {
        margin: 55px 0;
    }
}

.header-text {
    text-align: center;
}

@media (min-width: 992px) {
    .header-text {
        text-align: left;
    }  
}

h1 {
    font-size: 40px;
    line-height: 1.4;
    word-spacing: 10px;
}

h4 {
    letter-spacing: 5px; 
    line-height: 2;
    margin-bottom: 20px;
    font-size: 16px;
}

@media (min-width:640px){
    h1 {
        font-size: 50px;
    }
    h4 {
        letter-spacing: 15px; 
        font-size: 18px;
    }
    
    .col-md-8 {
        margin-bottom: 40px;
    }
}

.icon_download {
    font-size: 18px;
    padding-right: 14px;
    vertical-align: middle;
}

.btn-md {
    padding: 15px 25px;
}

/*----------------------------------------------------------------------------

                                ABOUT

------------------------------------------------------------------------------*/
/*Hide images at mobile */

.mobile-hide {
    display: none;
}

@media (min-width: 768px) {
    .mobile-hide {
        display: block;
    }
}

/*Ratings*/

.ratings .col-md-4 {
    margin: 20px 0 ;
}
.ratings i {
    font-size: 25px;
}

.ratings p {
    font-size: 16px;
    font-weight: 300;
}

.border {
    border-right: 1px solid #e3dcf3;
}

.ratings {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    -webkit-box-shadow: 5px 6px 6px #f0f6ff;
    -moz-box-shadow: 5px 6px 6px #f0f6ff;
    box-shadow: 5px 6px 6px #f0f6ff;
    margin-top: -13% !important;
}

/*About Text*/

#about {
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
    overflow: visible;
}
.about-row {
    margin-top: -15px;
}

.about-img {
    position: relative;
}
.iphone {
    margin-top: 40px;
    left: 160px;
}

.about-content h3 {
    line-height: 1.6;
}
.about-content {
    font-size: 13px;
    text-align: center;
}

@media (min-width:992px){
    .iphone {
        left: 80px;
        position: absolute;
        top: 47px;
    }
    .about-content {
        text-align: left;
    }
}

#about .btn-default,
#about .btn-ghost {
    margin-top: 30px;
    padding: 15px 24px;
    
}

/*----------------------------------------------------------------------------

                                FEATURES

------------------------------------------------------------------------------*/
#features {
    padding-bottom: 60px;
}

.features i {
    width: 50px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    color: #7251c2;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 22px;
    margin-bottom: 70px;
}

.features h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
}

.features p {
    line-height: 1.8;
    font-size: 12px;
}

.phone {
    width: 240px;
    height: 506px;
    margin: auto;
}

.lower {
    margin-top: 25px;
}


/*----------------------------------------------------------------------------

                                    SERVICES

------------------------------------------------------------------------------*/
.services i {
    width: 50px;
    border: 1px solid #c9c2e9;;
    padding: 20px 22px;
    font-size: 36px;
    color: #0891f9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.services h3 {
    padding-top: 20px;
}
.services .icon_cloud-download_alt {
    color: #c19b00;
    border: 1px solid #fff;
}

.services .blue,
.services .p-bg{
    padding: 60px 15px 30px;
}




/*----------------------------------------------------------------------------

                                SCREENSHOTS CAROUSEL

------------------------------------------------------------------------------*/

#app-scr-carousel,
#t-carousel{
    position: relative;
    margin: 0 40px;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
    position: absolute;
    top: 0;
    height: 30px;
    margin: auto !important;
    
}

.owl-next i,
.owl-prev i{
    color: #fff;

}

.owl-carousel .owl-prev {
    left: -63px;
    top: 40%;
}

.owl-carousel .owl-next {
    right: -30px;
    top: 40%;
}

@media (max-width:480px){
    .owl-carousel .owl-prev {
        left: -40px;
    }

    .owl-carousel .owl-next {
        right: -10px;
    } 
}

.owl-stage {
    overflow-y: visible;
}


.carousel-control {
    opacity: 1;
}


/*----------------------------------------------------------------------------

TESTIMONIALS

------------------------------------------------------------------------------*/

/*    Carousel   */


@media (min-width: 768px) {
    #fade-quote-carousel {
        margin: 0 150px;
    }  

}
.carousel-control.left,
.carousel-control.right {
    filter: alpha(opacity=0);
    zoom: 1;
    background: transparent;
}
.arrow_carrot-left_alt2,
.arrow_carrot-right_alt2 {
    position: absolute;
    top: 50%;
    color: #a1a1a1;
    font-size: 28px;  
}

.carousel-control.right {
    right: 40px;
}

@media (max-width:480px) {
    .carousel-control.left {
        left: -20px;
    }
    .carousel-control.right {
        right: 10px;
    } 
    #testimonial-row {
        padding: 0 !important;
    }
}
/**/
#owls-carousel blockquote {
    text-align: center;
    border: none;
    font-size: 14px;
    border-left: 0 !important;
}
#owls-carousel h3 {
    margin-top: 15px;
    font-size: 18px;
}
#owls-carousel p {
    line-height: 1.6;
    font-size: 13px;
    font-weight: 300;
}

#owls-carousel .profile-circle {
    width: 150px!important;
    height: 150px!important;
    margin: 0 auto;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}

#owls-carousel {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 540px;
    margin: auto;
}

#owls-carousel .owl-next i,
#owls-carousel .owl-prev i{
    color: #a1a1a1;

}
@media (max-width:480px){
    #owls-carousel .owl-prev {
        left: -20px;
    }

    #owls-carousel .owl-next {
        right: 12px;
    } 
}
/*----------------------------------------------------------------------------

                                    VIDEO

------------------------------------------------------------------------------*/
#video {
    background-color: #876bcb;
}

#video h2 {
    font-weight: 200;
    margin-bottom: 0;
}

.video {
    position: relative;
    padding-bottom: 20px;
}

video {
    width: 100% !important;
    max-width: 900px;
    height: auto !important;
}

#video-play.is-hidden {
    display: none;
}

.video i {
    position: absolute;
    top: 30px;
    left: 39.5%;
    width: 70px;
    height: 70px;
    border: 2px solid #fff;;
    padding: 7px 10px;
    font-size: 50px;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 45px;
    z-index: 10;
    top:28%;
}

@media (min-width: 480px){
    .video i {
        left: 45%;
        top:40%;
    }
    
}

@media (min-width: 992px){
    .video i {
        left: 46%;
    }

}
.video i:hover {
    cursor: pointer;
}

#video li {
    padding-right: 10px;
}

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

.video-social {
    color: #fff;
    width: 45px;
    border: 1px solid #fff;
    padding: 13px;
    font-size: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .7s;
    transition: .7s;
}

.video-social:hover {
    background: #c19b00; 
    border: 1px solid #c19b00;
}
/*----------------------------------------------------------------------------

                                PRICING

------------------------------------------------------------------------------*/
#pricing button {
    margin: 50px 0 ;  
}

#pricing button:hover {
    border-color: #c19b00;
    color: #fff;
}

#pricing {
    line-height: 2.7;
    
}

#pricing p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
header {
    background-color: #7251c2;
}

/*----------------------------------------------------------------------------

                                    DOWNLOAD

------------------------------------------------------------------------------*/

.fa {
    font-size: 30px;
    padding-right: 15px;
    vertical-align: middle;
}


/*----------------------------------------------------------------------------

                                    FAQ

------------------------------------------------------------------------------*/
#faq h3 {
    margin: 0 0 25px;
    font-size: 20px;

}

.faq-content {
    padding: 0 20px 40px;
}

/*----------------------------------------------------------------------------

                                    CONTACT

------------------------------------------------------------------------------*/
#contact {
    
    padding: 40px 0 100px;
}

.contact-info{
    background-color: #fff;
    max-width: 495px;
    margin: auto;
    padding: 15px 10px 0 0;
    text-align: left;
}

/*Form*/

form {
    max-width: 495px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    }

input[type="text"],
textarea {
    display: inline;
    margin: 0 5px 15px;
    padding: 10px;
    display: inline;
    font-size: 11px;
    color: #4e4e4d;
    font-weight: 300;

}

input[type="text"]{
    width: 100%;
}
textarea {
    width: 100%;
}

input[type=text]:focus, .form-control.textarea:focus {
    outline: none;
    border: 1px solid #7251c2;
}

@media (min-width: 768px) {

    input[type="text"] {
        width: 47%;
    }
    textarea {
        width: 97%;
    }
}

#btn-form {
    background: #fff;
    color: #7251c2;
    padding: 10px 30px;
    font-size: 12px;
    margin-top: 0;
}

#btn-form:hover {
    background: #c19b00;
}

.contact-info i{
    float: left;
    margin: 0 15px 20px 35px; 
    vertical-align: middle;
    width: 28px;
    height: 28px;
    border: 1px solid #c19b00;
    padding-right: 10px;
    padding-left: 7px;
    padding-top: 8px;
    font-size: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.contact-info p{
    font-size: 9px;
    line-height: 1.6;
}

/*----------------------------------------------------------------------------

                                    FOOTER

------------------------------------------------------------------------------*/

footer {
    height: 152px;
    padding: 40px 10px;
    
}

.social {
    list-style: none;
    padding-bottom: 18px;
    
}

.social li {
    display: inline;
    padding-right: 10px;
    margin-bottom: 20px;
    color: #7f65c7;
    
}


.social li:last-of-type {
    padding-right: 0;
}

#footer i {
    width: 120px;
    border: 1px solid #7f65c7;
    padding: 12px 11px;
    font-size: 17px;
    color: #7f65c7;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: .7s;
    transition: .7s;
}

#footer i:hover {
    background: #c19b00;
    border: 1px solid #c19b00;
}

footer li {
    margin-bottom: 20px;
}

.copyright {
    padding: 0;
}

@media (min-width: 480px) {
    .social li {
        padding-right: 25px;

    }

    #footer i {
        width: 50px;
        padding: 12px 15px;
        font-size: 18px;
    }

}

/*----------------------------------------------------------------------------

                                ANIMATIONS

------------------------------------------------------------------------------*/
.wp-left,.wp-right,.wp-left-1,.wp-right-1,.wp-up-3,.wp-up-4,.wp-up-5,.wp-up-6,.wp-up-7,.wp-up-8 {filter: alpha(opacity=100);}

.wp-left .animated,
.wp-right .animated,
.wp-up-1 .animated,
.wp-left-1 .animated,
.wp-up-2 .animated,
.wp-right-1 .animated,
.wp-up-3 .animated,
.wp-up-4 .animated,
.wp-up-5 .animated,
.wp-up-6 .animated,
.wp-up-7 .animated,
.wp-up-8 .animated
{
    opacity: 1; 
    
}

.fadeInUp,
.fadeInLeft,
.fadeInRight,
.bounceIn,
.bounceInUp,
.pulse{
    animation-duration: 2s;
}

.bounceIn,
.bounceInUp {
    animation-duration: 3s;
}
.pulse {
    animation-iteration-count: 5;
}


/*****************************       FINITO   *********************************/




















